body {font-family: Arial, Helvetica, sans-serif;}
h2 {text-align: center;}
form {border: 3px solid #f1f1f1;}

input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input:hover {opacity: 0.8;}
.container {padding: 16px;}