<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Upload an image</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="document_attachment_doc" id="document_attachment_doc">
        <input type="submit" value="Upload">
    </form>
    </body>
</html>
<script>
const form = document.getElementById("new_document_attachment");
const fileInput = document.getElementById("document_attachment_doc");

fileInput.addEventListener('change', () => {
  form.submit();
});

window.addEventListener('paste', e => {
  fileInput.files = e.clipboardData.files;
});
</script>
